<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/layout_head' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container pb">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
